<a href="https://colab.research.google.com/github/Prisci723/InteligenciaArtificial1/blob/main/1er%20Parcial/Ejercicio2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
dataframe = pd.read_csv("/content/gdrive/MyDrive/Airbnb_Data.csv", sep=",")
print(dataframe)

             id  log_price property_type        room_type  \
0       6901257   5.010635     Apartment  Entire home/apt
1       6304928   5.129899     Apartment  Entire home/apt
2       7919400   4.976734     Apartment  Entire home/apt
3      13418779   6.620073         House  Entire home/apt
4       3808709   4.744932     Apartment  Entire home/apt
...         ...        ...           ...              ...
74106  14549287   4.605170     Apartment     Private room
74107  13281809   5.043425     Apartment  Entire home/apt
74108  18688039   5.220356     Apartment  Entire home/apt
74109  17045948   5.273000     Apartment  Entire home/apt
74110   3534845   4.852030          Boat  Entire home/apt

                                               amenities  accommodates  \
0      {"Wireless Internet","Air conditioning",Kitche...             3
1      {"Wireless Internet","Air conditioning",Kitche...             7
2      {TV,"Cable TV","Wireless Internet","Air condit...             5
3      {TV,"Cable TV",Internet,"Wireless Internet",Ki...             4
4      {TV,Internet,"Wireless Internet","Air conditio...             2
...                                                  ...           ...
74106                                                 {}             1
74107  {TV,"Cable TV",Internet,"Wireless Internet",Ki...             4
74108  {TV,Internet,"Wireless Internet","Air conditio...             5
74109  {TV,"Wireless Internet","Air conditioning",Kit...             2
74110  {TV,Internet,"Wireless Internet",Kitchen,"Free...             4

       bathrooms  bed_type cancellation_policy  cleaning_fee  ...   latitude  \
0            1.0  Real Bed              strict          True  ...  40.696524
1            1.0  Real Bed              strict          True  ...  40.766115
2            1.0  Real Bed            moderate          True  ...  40.808110
3            1.0  Real Bed            flexible          True  ...  37.772004
4            1.0  Real Bed            moderate          True  ...  38.925627
...          ...       ...                 ...           ...  ...        ...
74106        1.0  Real Bed            flexible         False  ...  40.709025
74107        2.0  Real Bed            moderate          True  ...  33.871549
74108        1.0  Real Bed            moderate          True  ...  40.706749
74109        1.0  Real Bed              strict          True  ...  40.738535
74110        1.0  Real Bed            moderate         False  ...  33.761096

        longitude                                        name  \
0      -73.991617              Beautiful brownstone 1-bedroom
1      -73.989040    Superb 3BR Apt Located Near Times Square
2      -73.943756                            The Garden Oasis
3     -122.431619          Beautiful Flat in the Heart of SF!
4      -77.034596                  Great studio in midtown DC
...           ...                                         ...
74106  -73.939405                           one room bushwick
74107 -118.396053                Spacious Hermosa 2 BR on PCH
74108  -73.942377  Modern 2 Bedroom Apartment in Williamsburg
74109  -74.000157        Designer's Apartment in HEART of NYC
74110 -118.192409              Cozy Boat at Shoreline Village

          neighbourhood number_of_reviews review_scores_rating  \
0      Brooklyn Heights                 2                100.0
1        Hell's Kitchen                 6                 93.0
2                Harlem                10                 92.0
3          Lower Haight                 0                  NaN
4      Columbia Heights                 4                 40.0
...                 ...               ...                  ...
74106      Williamsburg                 0                  NaN
74107     Hermosa Beach                16                 93.0
74108      Williamsburg                43                 94.0
74109      West Village                 0                  NaN
74110        Long Beach               205                 96.0

                                           thumbnail_url  zipcode bedrooms  \
0      https://a0.muscache.com/im/pictures/6d7cbbf7-c...    11201      1.0
1      https://a0.muscache.com/im/pictures/348a55fe-4...    10019      3.0
2      https://a0.muscache.com/im/pictures/6fae5362-9...    10027      1.0
3      https://a0.muscache.com/im/pictures/72208dad-9...  94117.0      2.0
4                                                    NaN    20009      0.0
...                                                  ...      ...      ...
74106  https://a0.muscache.com/im/pictures/55162426/6...  11206.0      1.0
74107  https://a0.muscache.com/im/pictures/2b86560b-a...    90254      2.0
74108  https://a0.muscache.com/im/pictures/7fbe448c-5...  11206.0      2.0
74109  https://a0.muscache.com/im/pictures/b3971b63-0...    10011      0.0
74110  https://a0.muscache.com/im/pictures/22968537/d...    90802      1.0

       beds
0       1.0
1       3.0
2       3.0
3       2.0
4       1.0
...     ...
74106   1.0
74107   4.0
74108   2.0
74109   2.0
74110   2.0

[74111 rows x 29 columns]

In [ ]:
dataframe['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

In [ ]:
del dataframe['amenities']
del dataframe['description']
del dataframe['first_review']
del dataframe['host_since']
del dataframe['last_review']
del dataframe['name']
del dataframe['neighbourhood']
del dataframe['thumbnail_url']
del dataframe['zipcode']
del dataframe['id']

In [ ]:
print(dataframe)

       log_price property_type        room_type  accommodates  bathrooms  \
0       5.010635     Apartment  Entire home/apt             3        1.0
1       5.129899     Apartment  Entire home/apt             7        1.0
2       4.976734     Apartment  Entire home/apt             5        1.0
3       6.620073         House  Entire home/apt             4        1.0
4       4.744932     Apartment  Entire home/apt             2        1.0
...          ...           ...              ...           ...        ...
74106   4.605170     Apartment     Private room             1        1.0
74107   5.043425     Apartment  Entire home/apt             4        2.0
74108   5.220356     Apartment  Entire home/apt             5        1.0
74109   5.273000     Apartment  Entire home/apt             2        1.0
74110   4.852030          Boat  Entire home/apt             4        1.0

       bed_type cancellation_policy  cleaning_fee city host_has_profile_pic  \
0      Real Bed              strict          True  NYC                    t
1      Real Bed              strict          True  NYC                    t
2      Real Bed            moderate          True  NYC                    t
3      Real Bed            flexible          True   SF                    t
4      Real Bed            moderate          True   DC                    t
...         ...                 ...           ...  ...                  ...
74106  Real Bed            flexible         False  NYC                    t
74107  Real Bed            moderate          True   LA                    t
74108  Real Bed            moderate          True  NYC                    t
74109  Real Bed              strict          True  NYC                    t
74110  Real Bed            moderate         False   LA                    t

      host_identity_verified host_response_rate instant_bookable   latitude  \
0                          t                NaN                f  40.696524
1                          f               100%                t  40.766115
2                          t               100%                t  40.808110
3                          t                NaN                f  37.772004
4                          t               100%                t  38.925627
...                      ...                ...              ...        ...
74106                      t                NaN                f  40.709025
74107                      f               100%                f  33.871549
74108                      t               100%                t  40.706749
74109                      f               100%                t  40.738535
74110                      t               100%                f  33.761096

        longitude  number_of_reviews  review_scores_rating  bedrooms  beds
0      -73.991617                  2                 100.0       1.0   1.0
1      -73.989040                  6                  93.0       3.0   3.0
2      -73.943756                 10                  92.0       1.0   3.0
3     -122.431619                  0                   NaN       2.0   2.0
4      -77.034596                  4                  40.0       0.0   1.0
...           ...                ...                   ...       ...   ...
74106  -73.939405                  0                   NaN       1.0   1.0
74107 -118.396053                 16                  93.0       2.0   4.0
74108  -73.942377                 43                  94.0       2.0   2.0
74109  -74.000157                  0                   NaN       0.0   2.0
74110 -118.192409                205                  96.0       1.0   2.0

[74111 rows x 19 columns]

In [ ]:
dataframe['city'].unique()

array(['NYC', 'SF', 'DC', 'LA', 'Chicago', 'Boston'], dtype=object)

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
enc = OrdinalEncoder()

In [ ]:
non_numeric_columns = dataframe.apply(lambda x: pd.to_numeric(x, errors='coerce')).isnull().any()
print("Valores no numéricos en las columnas:")
print(non_numeric_columns)

Valores no numéricos en las columnas:
log_price                 False
property_type              True
room_type                  True
accommodates              False
bathrooms                  True
bed_type                   True
cancellation_policy        True
cleaning_fee              False
city                       True
host_has_profile_pic       True
host_identity_verified     True
host_response_rate         True
instant_bookable           True
latitude                  False
longitude                 False
number_of_reviews         False
review_scores_rating       True
bedrooms                   True
beds                       True
dtype: bool

In [ ]:
dataframe['city'].replace(['NYC', 'SF', 'DC', 'LA', 'Chicago', 'Boston'],
                        [0,1,2,3,4,5 ], inplace=True)

In [ ]:
dataframe['cleaning_fee'].replace(['True', 'False'],
                        [1, 0], inplace=True)

In [ ]:
dataframe['property_type'] = enc.fit_transform(dataframe[['property_type']])
dataframe['room_type'] = enc.fit_transform(dataframe[['room_type']])
dataframe['bathrooms'] = enc.fit_transform(dataframe[['bathrooms']])
dataframe['bed_type'] = enc.fit_transform(dataframe[['bed_type']])
dataframe['cancellation_policy'] = enc.fit_transform(dataframe[['cancellation_policy']])
dataframe['host_has_profile_pic'] = enc.fit_transform(dataframe[['host_has_profile_pic']])
dataframe['host_identity_verified'] = enc.fit_transform(dataframe[['host_identity_verified']])
dataframe['host_response_rate'] = enc.fit_transform(dataframe[['host_response_rate']])
dataframe['instant_bookable'] = enc.fit_transform(dataframe[['instant_bookable']])
dataframe['review_scores_rating'] = enc.fit_transform(dataframe[['review_scores_rating']])
dataframe['bedrooms'] = enc.fit_transform(dataframe[['bedrooms']])
dataframe['beds'] = enc.fit_transform(dataframe[['beds']])

In [ ]:
print(dataframe.isnull().any())

log_price                 False
property_type             False
room_type                 False
accommodates              False
bathrooms                  True
bed_type                  False
cancellation_policy       False
cleaning_fee              False
city                      False
host_has_profile_pic       True
host_identity_verified     True
host_response_rate         True
instant_bookable          False
latitude                  False
longitude                 False
number_of_reviews         False
review_scores_rating       True
bedrooms                   True
beds                       True
dtype: bool

In [ ]:
mean_b = dataframe['bathrooms'].mean()
dataframe['bathrooms'] = dataframe['bathrooms'].fillna(mean_b)
mean_hp = dataframe['host_has_profile_pic'].mean()
dataframe['host_has_profile_pic'] = dataframe['host_has_profile_pic'].fillna(mean_hp)
mean_hv = dataframe["host_identity_verified"].mean()
dataframe["host_identity_verified"] = dataframe["host_identity_verified"].fillna(mean_hv)
mean_hr = dataframe["host_response_rate"].mean()
dataframe["host_response_rate"] = dataframe["host_response_rate"].fillna(mean_hr)
mean_b = dataframe["bedrooms"].mean()
dataframe["bedrooms"] = dataframe["bedrooms"].fillna(mean_b)
mean_rs = dataframe["review_scores_rating"].mean()
dataframe["review_scores_rating"] = dataframe["review_scores_rating"].fillna(mean_rs)
mean_hr = dataframe["beds"].mean()
dataframe["beds"] = dataframe["beds"].fillna(mean_hr)

In [ ]:
dataframe.to_csv('Airbnb_Data_clean.csv', index=False)

In [ ]:
import os
import numpy as np
from matplotlib import pyplot
import matplotlib.pyplot as plt
from scipy import optimize
%matplotlib inline

In [ ]:
data = np.loadtxt("/content/gdrive/MyDrive/Ecoating_ultrafiltration_clean.csv", delimiter=',')
y = data[:, 0]  # Primera columna
X = data[:, 1:]  # Resto de las columnas
# Dividir los datos en conjuntos de entrenamiento y prueba
# X_train, y_train = X[:88513], y[:88513]
# X_test, y_test = X[88513:], y[88513:]
X_train, y_train = X[:813], y[:813]
X_test, y_test = X[813:], y[813:]

X = X_train
y = y_train
print(X)
print(y)

In [ ]:
# Obtén el número de características (número de columnas en X)
num_features = X.shape[1]

# Itera sobre cada característica y crea un gráfico para visualizar su relación con el target
for i in range(num_features):
    plt.figure(figsize=(8, 6))
    plt.scatter(X[:, i], y, alpha=0.5)
    plt.title(f'Feature {i+1} vs Target')
    plt.xlabel(f'Feature {i+1}')
    plt.ylabel('Target')
    plt.grid(True)
    plt.show()

In [ ]:
X = np.concatenate([X, X * X], axis=1)

In [ ]:
def  featureNormalize(X):
    X_norm = X.copy()
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)
    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

In [ ]:
X_norm, mu, sigma = featureNormalize(X)

print(X)
print('Media calculada:', mu)
print('Desviación estandar calculada:', sigma)
print(X_norm)

In [ ]:
m = X.shape[0]
X = np.concatenate([np.ones((m, 1)), X], axis=1)

In [ ]:
print(X.shape)

In [ ]:
def computeCostMulti(X, y, theta):
    m = y.shape[0]

    J = 0

    h = np.dot(X, theta)

    J = (1/(2 * m)) * np.sum(np.square(h - y))

    return J

In [ ]:
def gradientDescentMulti(X, y, theta, alpha, num_iters):

    m = y.shape[0]
    theta = theta.copy()
    J_history = []

    for i in range(num_iters):
        theta = theta - (alpha / m) * (np.dot(X, theta) - y).dot(X)
        J_history.append(computeCostMulti(X, y, theta))

    return theta, J_history

In [ ]:
alpha = 0.01
num_iters = 5000
X_rounded = np.round(X, decimals=2)
Y_rounded = np.round(y, decimals=2)

theta = np.zeros(7)
theta, J_history = gradientDescentMulti(X_rounded, Y_rounded , theta, alpha, num_iters)


pyplot.plot(np.arange(len(J_history)), J_history, lw=2)
pyplot.xlabel('Numero de iteraciones')
pyplot.ylabel('Costo J')


print('theta calculado por el descenso por el gradiente: {:s}'.format(str(theta)))